//
//  _typography.scss

//  GT Walsheim Light
// @font-face {
//   font-family: 'gt-walsheim-light';
//   src: url('../../fonts/gt-walsheim-light/gt-walsheim-light-webfont.woff2') format('woff2'),
//        url('../../fonts/gt-walsheim-light/gt-walsheim-light-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


html, //  typography defaults
body {
  font-family: $pre-font;
  font-weight: normal;
  font-style: normal;
  font-size: 16px; // becomes 1rem
  line-height: 1.4;
  letter-spacing: 0;    
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;         //  crisper on Firefox
  -webkit-font-smoothing: antialiased;    //  crisper
  word-wrap: break-word; // IE
  word-break: break-word;
  overflow-wrap: break-word; // newer
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'onum';
}

html.font-loaded,
html.no-js {
  font-family: $font;
  
  body {
    font-family: $font;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

sup {
  font-size: 75%;
  line-height: 0;
}