//
//  _variables.scss


//  Colours
$light: rgb(255, 255, 255);
$grey: rgb(234, 234, 234);
$dark: rgb(0, 0, 0);

//  Min/Max Width
$min-width--value: 320;
$min-width: ($min-width--value * 1px);
$max-width--value: 1440;
$max-width: ($max-width--value * 1px);

//  Breakpoints
$break--small: 500px;
$break--medium: 800px;
$break--large: 1000px;

//  Font Stacks
//  $pre-* for before fonts have been loaded (assuming FontFaceObserver)
//  See http://www.cssfontstack.com/
$pre-font: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$font: 'mt-grotesque', $pre-font;


//  Margins and Spacings
$desktop-margin: 2.5vw;
$desktop-spacing: 1vw;

$mobile-margin: 5vw;
$mobile-spacing: 5vw;


//  Element Measurements
$header-height: 70px;


//  Transitions
$ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

$transition: 0.15s $ease-out-quad;